{
  "mqtt": {
    "host": "localhost"
  },
  "prometheus-exporter": {
    "port": 8000
  },
  "topics": {
    "doorbell/+": {
      "state": "event"
    },
    "smartmeter": {
      "kwh_produced": "kwh",
      "kwh_consumed": "kwh",
      "current_produced": "current",
      "current_consumed": "current",
      "gas_produced": "gas"
    },
    "zigbee2mqtt/+/lighting/#": {
      "linkquality": "linkquality",
      "state": "state"
    },
    "zigbee2mqtt/+/motionsensor/#": {
      "battery": "battery",
      "linkquality": "linkquality",
      "occupancy": "state",
      "temperature": "temperature",
      "illuminance": "illuminance",
      "illuminance_lux": "lux"
    }
  }
}
