{
  "mqtt": {
    "host": "localhost"
  },
  "prometheus-exporter": {
    "port": 8000
  },
  "topics": {
    "zigbee2mqtt/+/lighting/#": {
      "linkquality": "linkquality",
      "state": "state"
    },
    "zigbee2mqtt/+/motionsensor/#": {
      "battery": "battery",
      "linkquality": "linkquality",
      "occupancy": "state",
      "temperature": "temperature",
      "illuminance": "illuminance",
      "illuminance_lux": "lux"
    }
  }
}
