[Unit]
Description=MQTT to Prometheus
After=network.target mosquitto.service
Require=mosquitto.service

[Service]
EnvironmentFile=-/etc/default/mqtt-to-prometheus
ExecStart=/usr/lib/nerdhome/.env/bin/python3 /usr/lib/nerdhome/mqtt-to-prometheus.py
Restart=always
RestartSec=5
KillMode=process
Type=simple

[Install]
WantedBy=multi-user.target
