[Unit]
Description=MQTT to Philips Hue
After=network.target mosquitto.service
Require=mosquitto.service

[Service]
ExecStart=/usr/lib/nerdhome/.env/bin/python3 /usr/lib/nerdhome/mqtt-to-hue.py
Restart=always
RestartSec=5
KillMode=process
Type=simple

[Install]
WantedBy=multi-user.target
