[Unit]
Description=Nerdhome
After=network.target

[Service]
ExecStart=/usr/lib/nerdhome/.env/bin/python3 /usr/lib/nerdhome/Nerdhome.py
Restart=always
RestartSec=10
KillMode=process
Type=simple

[Install]
WantedBy=multi-user.target
