[Unit]
Description=Slimme Meter
After=network.target

[Service]
EnvironmentFile=-/etc/default/slimme-meter
ExecStart=/usr/lib/nerdhome/.env/bin/python3 /usr/lib/nerdhome/slimme-meter.py -i $INFLUXDB -d $DATABASE
Restart=always
RestartSec=10
KillMode=process
Type=simple

[Install]
WantedBy=multi-user.target
